%center-container{
  width:75%;
  margin:auto;
}

%header-container{
  width:95%;
  margin:auto;
}

%about-container{
  width:95%;
  margin:auto;
}

%biography-container{
  width:50%;
  margin: auto;
}