@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0 auto;
  padding: 0;
  background-color: black;
}

.intro{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

h1{
  color:#0066E3;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

h3{
  color:white;
  font-size: 30px;
  margin:25px;
  font-family: 'Roboto', sans-serif;
}

h4{
  font-family: 'Roboto', sans-serif;
  padding-left: 45px;
  padding-right: 45px;
}

footer{
  color:gray;
  text-align: center;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.intro-p{
  color:white;
  word-wrap: inherit;
  font-size: 25px;
  margin-left: 20px;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color:white;
  font-family: 'Roboto', sans-serif;
}

.brand-name{
  font-size: 2rem;
  margin: .5rem;
  font-family: 'Roboto', sans-serif;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Roboto', sans-serif;

}

.navbar-links li{
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

.navbar-links li a{
  text-decoration: none;
  color:white;
  padding: 1rem;
  display: block;
  font-family: 'Roboto', sans-serif;
}

.navbar-links li:hover{
  background-color: #555;
}

.toggle-btn{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-btn .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media(max-width: 632px){
  .toggle-btn{
    display: flex;
  }
  .navbar-links{
    display:none;
    width: 100%;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul{
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li{
    text-align: center;
  }

  .navbar-links li a{
    padding: .5rem 1rem;
  }

  .navbar-links.active{
    display:flex;
  }
}

.bio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
}

.bio-p{
  color:white;
  font-weight: bold;
  font-size: 25px;
  margin-left: 50px;
  margin-right: 50px;
  background-color:rgba(51, 51, 51, 0.267);
  border-radius: .5rem;
  width: 95%;
  font-family: 'Roboto', sans-serif;
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
}

.contact-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}



.linkedin-logo{
  height:96px;
  width: 96px;
  border-radius: 50%;
  border: 4px solid #2867b2;
  transition: 200ms;
}


.email{
  color: #2867b2;
  margin-right: 100px;
  margin-left: 100px;
  font-family: 'Roboto', sans-serif;
}


.linkedin-logo:hover{
  height: 106px;
  width: 106px;
  cursor: pointer;
}



.games-intro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.games-articles{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.article{
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
  padding-right: 50vh;
  padding-left: 50vh;
  margin-bottom: 15px;
  background-color: rgba(51, 51, 51, 0.3);
}

.content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

h2{
  color:white;
  font-family: 'Roboto', sans-serif;
}

.logo{
  width: 170px;
  height: 170px;
  border-radius: 35%;
  padding: 0px;
  margin: 45px 45px 45px 45px;
  border:3.5px solid white
}

.title{
  color: #2782f1;
  font-size: 25px;
  margin: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.worked-as{
  margin: 0px;
  margin-right: 5px;
  margin-left: 5px;
}

.description{
  color:white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
}

.link-github,
.link-game{
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  background-color: transparent;
  color:#408ce9;
  border-radius: 1rem;
  border-color: #0066E3;
  transition: background-color 200ms;
  margin-right: 5px;
  margin-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}


.link-github:hover,
.link-game:hover{
  background-color: #555;
  cursor: pointer;
  color:#3283e6;
}

h4{
  color:white;
}