@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Playfair+Display&family=Ubuntu&display=swap');

*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0 auto;
  padding: 0;
  background-color: black;
}



.intro{
  background: linear-gradient(
rgba(0,0,0,0.6),
rgba(0,0,0,0.6) ) ,
    url('https://images.pexels.com/photos/5926380/pexels-photo-5926380.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-position: center;
  background-size:cover;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

h1{
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
}



h3{
  color:white;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

h4{
  font-family: 'Roboto', sans-serif;
  padding-left: 45px;
  padding-right: 45px;
}

footer{
  color:gray;
  text-align: center;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.welcome-title {
  opacity:0;
}

.welcome-subtitle{
  opacity:0;
}

.intro-p{
  color:white;
  word-wrap: break-word;
  font-size: 30px;
  margin-left:250px;
  margin-right:250px;
  opacity:0;
  margin-bottom:350px;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color:white;
  font-family: 'Roboto', sans-serif;
}

.brand-name{
  font-size: 2rem;
  margin: .5rem;
  font-family: 'Roboto', sans-serif;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Roboto', sans-serif;

}

.navbar-links li{
  list-style: none;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0);
  transition:background-color .3s;
  opacity: 0;
}

.navbar-links li a{
  text-decoration: none;
  color:white;
  padding: 1rem;
  display: block;
  font-family: 'Roboto', sans-serif;
}

.navbar-links li:hover{
  background-color: rgba(61, 61, 61, 1);
  transition:background-color .3s;
}

.cool-link::after{
  content:'';
  display:block;
  width:0;
  height: 2px;
  background:white;
  transition: width .3s;
}

.cool-link:hover::after{
  width:100%;
  transition: width .3s;
}

.toggle-btn{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-btn .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media(max-width: 900px){
  .toggle-btn{
    display: flex;
    cursor:pointer;
  }
  .navbar-links{
    display:none;
    width: 100%;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul{
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li{
    text-align: center;
    opacity: 0;
  }

  .navbar-links li a{
    padding: .5rem 1rem;
  }

  .navbar-links.active{
    display:flex;
  }

  .footer{
    font-size: 5px;
    background-attachment: scroll;
  }
}

@keyframes navLinksFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes articleFade{
  from{
    opacity:0;
    transform: translateX(-50px);
  }to{
    opacity:1;
    transform: translateX(0px);
  }
}

@keyframes fadein{
  from{
    opacity:0;
  }to{
    opacity:1;
  }
}

.container{
  background: linear-gradient(
rgba(0,0,0,0.6),
rgba(0,0,0,0.6) ) ,
    url('https://images.pexels.com/photos/4709289/pexels-photo-4709289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  display: flex;
  background-position: center;
  background-size:cover;
  flex-direction: row;
  height: 100vh;
}



.bio{
  font-family: 'Roboto', sans-serif;
  opacity:0;
  display:flex;
  justify-content: center;
  flex-direction: column;
  width:50%;
  margin-left: 150px;
  margin-right: 150px;
}

.bio-p{
  color:white;
  font-weight: bold;
  font-size: 25px;
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  text-align:center;
  vertical-align: middle;
  opacity:0;
  height:100px;
}

.bio-title{
  word-wrap:break-word;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.skills-title{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  margin-right:150px;
}

.skills-container{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size:25px;
  font-weight: bold;
  text-align:justify;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 50px;
}

.skills{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:0 50px;
}

.skills-sides{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right:50px;
  margin-top:15px;
}



.skills-container li{
  list-style:square;
  opacity:0;
  margin-top:15px;
  margin-right: 15px;
}

.stars{
  color: lime;
  font-size: 25px;
}



.contact{
  background: linear-gradient(
rgba(0,0,0,0.8),
rgba(0,0,0,0.8) ) ,
    url('https://images.pexels.com/photos/618613/pexels-photo-618613.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-position: center;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 99.1vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.contact-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  opacity:0;
}

.contact-text1,
.contact-text2,
.contact-title{
  opacity:0;
}

.linkedin-logo{
  height:96px;
  width: 96px;
  border-radius: 50%;
  border: 4px solid #2867b2;
  transition: .5s;
}


.email{
  color: #00FFFF;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #00FFFF;  
  text-decoration-style: thick;  
  margin-right: 100px;
  margin-left: 100px;
  font-family: 'Roboto', sans-serif;
  opacity:0;
}


.linkedin-logo:hover{
  height: 106px;
  width: 106px;
  cursor: pointer;
  transform: .5s;
}



.games-intro{
  background: linear-gradient(
rgba(0, 0, 0, 0.65),
rgba(0,0,0,0.65) ) ,
    url('https://images.pexels.com/photos/614117/pexels-photo-614117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  z-index:-1;
}


.games-articles{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin-left: 45px;
  margin-right: 45px;
}

.article{
  display: flex;
  justify-content: space-between;
  padding-left: 350px;
  padding-right: 350px;
  margin-bottom: 50px;
  opacity:0;
}

.article::before{
  content:"";
  position: absolute;
  top:-5px;
  left: -5px;
  right:-5px;
  bottom:-5px;
  background: rgba(0, 0, 0, 0.7);
  z-index:-1;
}

.article::after{
  content:"";
  position: absolute;
  top:-5px;
  left: -5px;
  right:-5px;
  bottom:-5px;
  background: rgba(14, 161, 1, 0.35);
  z-index:-2;
  filter:blur(25px);
}



.content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.worked-as,
.description{
  color:white;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: lighter;
}

.logo{
  width: 185px;
  height: 185px;
  border-radius: 35%;
  padding: 0px;
  margin: 45px 45px 45px 45px;

}



.title{
  color: 	#BFFF00;
  font-size: 45px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 0 0 20px #BFFF00;
  text-decoration: underline;
  text-underline-offset: 9.5px;
  text-decoration-color: #BFFF00;
  text-decoration-style: thick;
}

.title::after{
  position: absolute;
  top:0;
  left:0;
  padding:0 20px;
  z-index: -1;
  color: rgb(191, 255, 0);
  filter:blur(10px);
}

.title::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background:rgba(14, 161, 1, 0.65);
  z-index: -2;
  opacity: .5;
  filter:blur(50px);
}


.worked-as{
  margin: 0px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 25px;
}

.description{
  color:white;
  font-size: 25px;
  margin-right: 5px;
  margin-left: 5px;
}

.link-github,
.link-game{
  width: 145px;
  height: 65px;
  margin-bottom: 10px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  border-color: rgb(191, 255, 0);
  transition: .5s;
  margin-right: 5px;
  margin-left: 5px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  font-size:14px;
}

.link-github,
.link-game:focus{
  outline:none;
}

.link-game{
  position: absolute;
  right:100.72px;
  top:85px;
  margin-top:15px;
}

.link-github{
  position: absolute;
  right:100.72px;
  margin-top:15px;
  top:165px;
}




.link-github:hover,
.link-game:hover{
  width: 155px;
  height: 75px;
  background-color:rgba(191, 255, 0,0.2);
  cursor: pointer;
  color:rgb(255, 255, 255);
  transition: .5s;
  font-size:18px;
  font-weight: bolder;
}

.games-title,
.games-text1{
  opacity:0;
}

.contact-title,
.welcome-title,
.skills-title,
.bio-title{
  color: #2782f1;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #2782f1; 
  text-decoration-style: thick;
  font-weight: bold; 
}

.games-title{
  color: #BFFF00;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #BFFF00;
  text-decoration-style: thick;
  font-weight: bold;
  text-shadow: 0 0 20px #BFFF00;
}

.games-title::after{
  position: absolute;
  top:0;
  left:0;
  padding:0 20px;
  z-index: -1;
  color: rgb(191, 255, 0);
  filter:blur(10px);
}

.games-title::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background:rgb(191, 255, 0);
  z-index: -2;
  opacity: .2;
  filter:blur(15px);
}

.games-text1{
  margin-bottom: 75px;
}

.project{
  transform: translate(-10px);
}


h4{
  color:white;
}

@media (max-width: 900px){
  .welcome-title{
    font-size:45px;
  }

  .welcome-subtitle{
    font-size: 35px;
  }

  .intro-p{
    font-size:25px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 550px;
  }

  .container{
    flex-direction:column;
  }

  .bio{
    width:100%;
    margin:0;
    margin-top:100px;
  }

  .bio-p{
    font-size: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
  }

  .bio-title{
    font-size: 45px;
  }

  .skills-title{
    font-size:45px;
    margin-right:0;
  }

  .skills-sides{
    margin:0;
  }

  .skills-sides ul{
    margin:0;
    font-size: 20px;
  }

  .article{
    padding-left: 150px;
    padding-right: 150px;
  }

  .title{
    font-size:25px;
  }

  .games-title{
    font-size:45px;
  }

  .games-text1{
    font-size:25px;
  }

  .worked-as{
    font-size: 15px;
    margin-top:15px;
  }

  .description{
    font-size:15px;
  }

  .logo{
    width: 92.5px;
    height:92.5px;
  }

  .link-game{
    right:45px;
    top:45px;
    margin-top:15px;
  }
  
  .link-github{
    right:45px;
    margin-top:15px;
    top:125px;
  }

  .link-game,
  .link-github{
    width:77.5px;
    font-size:12px;
  }

  .contact{
    font-size:45px;
  }

  .contact-text1,
  .email,
  .contact-text2{
    font-size:25px;
  }

  .linkedin-logo{
    height:86px;
    width: 86px;
  }


}

@media (max-width: 800px){
  .welcome-title{
    font-size:35px;
  }

  .welcome-subtitle{
    font-size: 25px;
  }

  .intro-p{
    font-size:20px;
    margin-right: 45px;
    margin-left: 45px;
    margin-bottom: 550px;
  }

  .bio-p{
    font-size: 18px;
  }

  .bio-title{
    font-size: 35px;
  }

  .skills-title{
    font-size:35px;
  }

  

  .skills-sides ul{
    font-size: 20px;
  }

  .games-title{
    font-size:35px;
  }

  .games-text1{
    font-size:20px;
  }

  .contact{
    font-size:35px;
  }

  .contact-text1,
  .email,
  .contact-text2{
    font-size:20px;
  }

  .linkedin-logo{
    height:76px;
    width: 76px;
  }
}

@media (max-width: 642px){
  .bio-p{
    font-size: 16px;
  }
}

@media (max-width: 618px){
  .welcome-title{
    font-size:25px;
  }

  .welcome-subtitle{
    font-size: 15px;
  }

  .intro-p{
    font-size:15px;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 550px;
  }

  .games-title{
    font-size:25px;
  }

  .games-text1{
    font-size:15px;
  }

  .article{
    padding-left: 100px;
    padding-right: 100px;
  }

  .logo{
    width: 46.25px;
    height:46.25px;
  }

  .title{
    font-size:15px;
  }

  .worked-as{
    font-size: 12px;
    margin-top:15px;
  }

  .description{
    font-size:12px;
  }

  .link-game{
    right:25px;
    top:45px;
    margin-top:15px;
  }
  
  .link-github{
    right:25px;
    margin-top:15px;
    top:100px;
    
  }

  .link-game,
  .link-github{
    width:55px;
    height:50px;
    font-size:10px;
  }

  .contact{
    font-size:25px;
  }

  .contact-text1,
  .email,
  .contact-text2{
    font-size:15px;
  }

  .linkedin-logo{
    height:66px;
    width: 66px;
  }
}